body {
  padding: 0px;
  background-color: rgba(226, 223, 219, 0.938);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  font-family: "playfair display" serif;
  font-weight: bold;
}

.about-section {
  text-align: center;
  padding: 0;
}

.about-section h1 {
  font-size: 64px;
  line-height: 70px;
  text-align: center;
}

.about-section h2 {
  font-size: 18px;
  font-family: "playfair display" serif;
}

.about-section-content {
  margin: 30px;
}

.about-section p {
  text-align: justify;
}

.btn-branding {
  background: blue;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
p {
  font-family: "playfair display" serif;
  font-weight: normal;
}

.one {
  text-align: center;
}

.one p {
  font-size: 40px;
  font-weight: 600;
}

h1 {
  font-size: 76px;
}

.one h2 {
  font-weight: normal;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-primary {
  padding: 15px;
}

.text-center {
  font-size: 20px;
  font-weight: bold;
}

.mb-5 {
  font-size: 65px;
  text-align: center;
}

.three {
  width: 490px;
  height: 210px;
}

.five {
  max-width: 150px;
  margin: 0;
}

nav ul {
  padding: 0;
  margin: 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--branding-color);
}

nav li.active {
  color: var(--branding-color);
}

.mb-5 {
  text-align: justify;
  font-size: 15px;
}

.mb-6 {
  font-size: 60px;
  padding-bottom: 15px;
  text-align: center;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
